[
 ; aoeui uses ^Space as a modifier for many commands,
 ; Light Table default keymap uses it to open/close the command bar.
 ; remapping open/close command bar to ^Space^Enter, so we can use ^Space as a modifier
 [:app "-ctrl-space" :show-commandbar-transient]
 [:app "ctrl-space-enter" :show-commandbar-transient]

 ; navigation
 [:editor "ctrl-h" :editor.char-left]
 [:editor "ctrl-t" :editor.char-right]
 [:editor "ctrl-n" :editor.word-left]
 [:editor "ctrl-s" :editor.word-right]
 [:editor "ctrl-g" :aoeui.line-back]
 [:editor "ctrl-c" :aoeui.line-forward]
 [:editor "ctrl-r" :editor.page-up]
 [:editor "ctrl-l" :editor.page-down]
]
